#wrapper {
    width: 100%;
}
#page-wrapper {
    /*--padding: 0 15px;--*/
    min-height: 568px;
    
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
    }
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
  
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}
.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}
.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}
.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}


.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.ol-zoom {
display:none;
}

.btn-icon-only {
    height: 34px;
    width: 34px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}
.green.btn {
    color: #FFFFFF;
    background-color: #1ABC9C;
}

.red.btn {
    color: #FFFFFF;
    background-color: #D95459;
}

.right-slide {
    position: absolute;
    top: 69px;
    width: 252px;
    right: 9px;
    background: #435468;
    z-index: 9;
    color: #fff;
    height: 500px;
}
.right-slide .wrapper{
    position:relative;
    width:inherit;
    height:inherit;
}

.right-slide button {
    width: 25px;
    height: 24px;
    font-size: 9px;
    position: absolute;
    top: 20px;
    left: -25px;
}

    .right-slide ul {
        padding: 0;
        margin: 0;
    }

        .right-slide ul li {
            padding: 10px;
            border-bottom: 1px solid #495c72;
            list-style:none;
            margin:0;
            cursor:pointer;
            font-size:10px;
        }
.right-slide ul li:hover{
    background: #1ABC9C;
}

#left-side-menu li.selected{
    background: #1ABC9C;
}
    #left-side-menu li.selected a {
        color:#fff;
    }

    .btn-action.selected {
    color: #FFFFFF;
    background-color: #D95459;
}